.container{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}
.labelText{
    color: #58595B;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    width:max-content;
    text-align: left;
    padding-left: 5px;
    letter-spacing: 0.3px;

}
.selectBox{
    background-color: white;
    font-size: 12px;
    min-width: 100%;
    width:100%;
    /* max-width: 10rem; */
   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 15px;
    border-radius: 10px;
    border: 0.604px solid #e6e6e664;
    background: #FFF;
    box-shadow: 2px 2px 12px 0px rgba(191, 191, 191, 0.3);
    padding: 8px 12px;
box-sizing: border-box;

}
.selectBox label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: max-content;
    cursor: pointer;
    font-size: 13px;
    max-width: 8rem;
    text-wrap: nowrap;
}
.selectBox img{
    transition:transform 0.3s linear;
    cursor: inherit;
    width: 9px;
}

.dropDownContainer{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 4.3rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.178);
    padding: 10px 10px;
    transition: all 0.3s linear, padding 0.3s linear;
    min-width: 12rem;
    overflow-y: scroll;
    /* max-height: 50vh; */
    z-index: 3;

}
.dropDownContainer::-webkit-scrollbar{
    width: 5px !important;
    /* background-color: black; */
}
.dropDownContainer::-webkit-scrollbar-thumb{
    width: 3px !important;
    background-color: gray !important;
    border-radius: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
   

}
.menuItem {
   cursor: pointer;
padding: 10px 15px;
color: #617068;
font-size: 13px;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 10px;
border-radius: 5px;

}
.menuItem:hover{
    background-color: #F7F7F7;
    color: black;
}
.menuItem > input[type="checkbox"] {
    accent-color: #ED3B4B; /* Set your desired color */
  }


.autoCompleteInput{
    outline: none;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.217);
    border-radius: 8px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
}