.container {
  width: 10rem;

  position: fixed;
  top: 1.6rem;
  right: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
}
.iconContainer {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(184, 184, 184, 0.2);
  /* border: 1px solid; */
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.iconContainer img {
  width: 25px;
}
.adminSection {
  cursor: pointer;
  gap: 7px;

  display: flex;
  align-items: center;
  font-size: 12px;
}
.container img {
  margin-bottom: 2px;
  width: 8px;
}
.nameSpan {
  width: max-content;
}

.dropDownContainer{
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 2.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.178);
  padding: 10px 10px;
  transition: max-height 0.3s linear, padding 0.3s linear;
  /* min-width: 12rem; */
  overflow-y: hidden;
  /* max-height: 50vh; */
  z-index: 2;

}
.logoutBtn{
padding:8px 10px;
border-radius: 6px;
color: #ED3B4B;
background-color: white;
border: 1px solid;
font-size: 12px;
display: flex;
align-items: center;
gap: 5px;
}
.logoutBtn img{
  width: 12px;
}