.container{
    border: 1px solid;
    min-width: 25rem;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 12px 0px rgba(184, 184, 184, 0.2);
    border: 1px solid #e6e6e67e;
}
.header h3{
    display: inline;
    font-size: 0.9rem !important;
    font-weight: 750;
}
.header{
    /* border: 1px solid; */
    padding: 8px 10px;
    border-bottom: 1px solid #E6E6E6;
    
}