.container{
    /* border: 1px solid; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.container h3{
  margin-top: -1rem;
    display: inline;
    font-size: 1.1rem;
    font-weight: 750;
}

