/* TableComponent.module.css */

.table {
    width: 100%;
    border-collapse: separate; /* Allows border-radius to work on table elements */
    border-spacing: 0;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the border radius applies properly */
    border-radius: 8px;
border: 0.5px solid #E6E6E6;
background: #FFF;
box-shadow: 2px 2px 12px 0px rgba(184, 184, 184, 0.20);
  }
  
  .tableHeader {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
  }
  
  .tableCell {
    padding: 10px;
    text-align: left;
  }
  
  .evenRow {
    background-color: white;
    color: black;
  }
  
  .oddRow {
    background-color: #F6F8FA; /* Light gray background for odd rows */
    color: black;
  }
  td{
    padding: 10px !important;
    font-size: 12px;
  }
  
  /* Ensure that the first and last rows have rounded corners */
  .table thead th:first-child {
    border-top-left-radius: 8px;
  }
  
  .table thead th:last-child {
    border-top-right-radius: 8px;
  }
  
  .table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  

  /* Pagination */

  .paginationContainer {
    display: flex;
    justify-content: space-between; /* Ensure space between data indicator and page indicator */
    align-items: center;
    width: 100%;
    /* padding: 10px; */
  }
  
  .paginationRow {
    border-top: 1px solid #ccc;
    padding: 10px, 15px;
    background-color: white;
  }
  
  .tableDataIndicator {
    font-weight: bold;
  }
  
  .pageIndicator {
    display: flex;
    align-items: center; /* Align buttons and text in the center */
  }
  
  .pageIndicator button {
    border-radius: 8px;
    border: 0.604px solid #DADADA;
    background: #FFF;
    cursor: pointer;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pageIndicator img {
    width: 16px;
    height: 16px;
  }
  
  .pageIndicator span {
    margin: 0 5px 0 0px;
    font-weight: bold;
  }
  
  .paginationButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .paginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .pageSection{
 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }